* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	background-color: #fff;
	color: #555;
	font-family: 'Titillium Web', sans-serif;
	font-weight: 300;
	font-size: 20px;
	text-rendering: optimizeLegibility;
}

body {
	padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}

/* ----------------------------- */
/*      REUSABLE COMPONENTS      */
/* ----------------------------- */

.row {
	max-width: 1140px;
	margin: 0 auto;
}

section {
	padding: 80px 0;
}

.box {
	padding: 1%;
}

/* ---------- HEADER ---------- */

header {
	background: #ffffff;
	height:	100vh;
}

.header-text-box {
	position: absolute;
	width: 1140px;
	top: 44%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
	justify-content: center;
    align-items: center;
}

.hero-image {
	height: 210px;
    position: absolute;
    bottom: -105px;
    left: 50%;
    transform: translate(-50%, -105px);
}

/* ---------- RESUME SECTION ---------- */
	
.section-resume {
	padding-top: 5px;
	background: #ffffff;
	text-align: center;
}

#portfolio h2,
.section-resume h2,
.section-form h2 {
	color: #023047;
}

.box img {
	max-width: 230px;
	width: 100%;
	height: auto;
	margin-bottom: 15px;
}

img.resume-logo,
img.github-logo,
img.linkedin-logo {
	padding: 20px;
	max-width: 128px;
}

.screenshot-container,
.logo-container {
	text-align: center;
}

.logo-container {
	display: flex;
    min-height: 125px;
    justify-content: center;
    align-items: center;
}

img.screenshot {
	max-width: 320px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	transition: .5s ease;
}

.image-link:hover .screenshot {
	box-shadow: 0 4px 8px 0 rgba(167, 102, 42, 0.2), 0 6px 20px 0 rgba(167, 102, 42, 0.19);
}

/* NAVIGATION */

.main-nav {
	float: right;
	list-style: none;
	margin-top: 55px;
}

.main-nav li {
	display: inline-block;
	margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
	padding: 8px 0;
	color: #023047;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 90%;
	border-bottom: 2px solid transparent;
	transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:focus,
.main-nav li a:active {
	border-bottom: 2px solid #fb8500;
}

/* HEADINGS */

h1 {
	margin-top: 0;
	margin-bottom: 20px;
	color: #219ebc;
	font-size: 240%;
	font-weight: 600;
	letter-spacing: 1px;
	word-spacing: 4px;
}

.subtitle {
	color: #023047;
	font-size: 180%;
	font-weight: 300;
	letter-spacing: 1px;
	margin-bottom: 20px;
}

.avatar {
	height: 200px;
}

h2, h3 {
	font-weight: 300;
}

h2 {
	color: #ffb703;
	font-size: 180%;
	word-spacing: 2px;
	text-align: center;
	margin-bottom: 30px;
	letter-spacing: 1px;
	text-transform: uppercase;
}

h2:after {
	display: block;
	height: 2px;
	background-color: #fb8500;
	content: " ";
	width: 100px;
	margin: 0 auto;
	margin-top: 30px;
}

h3 {
	font-size: 110%;
	margin-bottom: 15px;
}

.professional-portfolio-header {
	padding: 15px 0;
}

.personal-portfolio-header,
.professional-portfolio-header {
	color: #023047;
    font-weight: 600;
	text-transform: uppercase;
}

.personal-portfolio-header:before {
	display: block;
	height: 1.5px;
	background: #E6ECF8;
	content: " ";
	width: 100%;
	margin: 30px auto;
	margin-bottom: 60px;
}

/* BUTTONS */

.btn:link,
.btn:visited,
input[type=submit] {
	cursor: pointer;
	display: inline-block;
	padding: 10px 30px;
	font-weight: 300;
	text-decoration: none;
	border-radius: 200px;
	transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited,
input[type=submit] {
	background-color: #023047;
	border: 1px solid #023047;
	color: #fff;
	margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
	border: 1px solid #e67e22;
	color: #e67e22;
}

.btn:hover,
.btn:focus,
.btn:active,
input[type=submit]:hover,
input[type=submit]:focus,
input[type=submit]:active {
	background-color: #ffb703;
	color: #023047;
}

.btn-full:hover,
.btn-full:focus,
.btn-full:active,
input[type=submit]:hover,
input[type=submit]:focus,
input[type=submit]:active {
	border: 1px solid #ffb703;
}

.btn-ghost:hover,
.btn-ghost:focus,
.btn-ghost:active {
	border: 1px solid #cf6d17;
	color: #fff;
}

/* PARAGRAPHS */

.long-copy {
	color: #ffffff;
	line-height: 145%;
	width: 88%;
	padding-bottom: 1em;
	margin-left: 6%; /* width + margin-left + margin-right = 100% */
	text-align: center;
}

.box p {
	font-size: 90%;
	line-height: 145%
}

.section-copy {
	padding-bottom: 120px;
	background: #023047;
}

.section-portfolio {
	padding-bottom: 0;
	background: transparent;
}

.portfolio-copy {
	margin-bottom: 100px;
}

.portfolio-body {
	margin-top: -220px;
	box-shadow: 0 5px 5px 0 rgba(233, 240, 243, 0.5), 0 0 0 1px #E6ECF8;
	background-color: #ffffff;
	border-radius: 40px;
	padding: 40px;
	max-width: 1240px;
	text-align: center;
	margin-bottom: 80px;
}

.portfolio-flex {
	display: flex;
    justify-content: center;
}

.section-portfolio i, 
.section-portfolio h3 {
	text-align: center;
}

.section-portfolio .span-1-of-3 {
	width: 31.7%;
}

/* ICONS */
.icon-big {
	font-size: 350%;
	display: block;
	color: #e67e22;
	margin-bottom: 10px;
}

/* LINKS */

a:link,
a:visited {
	color: #023047;
	text-decoration: none;
	transition: color 0.2s;
}

a:hover,
a:focus,
a:active {
	color: #fb8500;
	/* border-bottom: 1px solid transparent; */
}

/* CONTACT FORM */

.section-form {
	background-color: #8ecae6;
}

.contact-form {
	width: 60%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
    align-items: center;
    gap: 7px;
}

.contact-form .small-inputs {
	display: flex;
	gap: 7px;
	width: 100%
}

input[type=text],
input[type=email] {
	border-radius: 3px;
	border: 1px solid #ccc;
	width: 100%;
	height: 32px;
	padding-left: 7px;
}

textarea {
	width: 100%;
	padding: 7px;
	border-radius: 3px;
	border: 1px solid #ccc;
	min-height: 160px;
}

input[type=submit] {
	margin: 16px 0;
}

*:focus {
	outline: none;
}

/* FOOTER */

footer {
	background-color: #023047;
	padding: 50px;
	font-size: 80%;
}

.footer-nav {
	list-style: none;
	float: left;
}

.social-links {
	list-style: none;
	float: right;
}

.footer-nav li,
.social-links li {
	display: inline-block;
	margin-right: 20px
}

.footer-nav li:last-child,
.social-links li:last-child {
	margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
	text-decoration: none;
	border: 0;
	color: #8ecae6;
	transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:focus,
.footer-nav li a:active {
	color: #ffb703;
}

.social-links li a:link,
.social-links li a:visited {
	font-size: 160%;
}

.linkedin-icon,
.github-icon {
	height: 30px;
	width: 30px;
}

.linkedin-icon path,
.github-icon path {
	fill: #8ecae6;
	transition: fill 0.2s;
}

.linkedin-icon:hover path,
.linkedin-icon:focus path,
.linkedin-icon:active path {
	fill: #ffb703;;
}

.github-icon:hover path,
.github-icon:focus path,
.github-icon:active path {
	fill: #ffb703;;
}

footer p {
	color: #8ecae6;
	text-align: center;
	margin-top: 30px;
}
